#root {
  margin: 0 auto;
  max-width: 1280px;
}

html {
  scroll-behavior: smooth;
}

body {
  /* Default light mode background color */
  background-color: #e6e6e6;
}

@media (prefers-color-scheme: dark) {
  /* Dark mode background color */
  body {
    background-color: #323234;
  }
}




.text-gradient,
.logo:hover{
  background: linear-gradient(90deg, #B16CEA , #FF5E69 , #FF8A56 , #FFA84B );
  -webkit-background-clip: text; /* For Webkit-based browsers */
  background-clip: text;
  color: transparent; /* Hide the original text color */
  display: inline-block;
}

.gradient {
  background: linear-gradient(90deg, #B16CEA, #FF5E69 , #FF8A56 , #FFA84B );
}

.project-background {
  background: linear-gradient(90deg, #B16CEA95 , #FF5E6995 , #FF8A5695 , #FFA84B95 );
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blink-caret {
  50% { border-color: transparent; }
}

.typewriter h2 span {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  padding-right: 16px;
  border-right: 3px solid #FFA84B; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  animation: 
    typing 2.5s steps(22) ,
    blink-caret .5s step-end infinite alternate;
}

.logos-slide {
  animation: 15s  infinite linear alternate slide;
}


@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}