:root {
    --black_primary: #272727;
    --white_primary: #e5f4e3;
    --text_primary: #ca2c92;
}

body {
    background-color: var(--white_primary);
    color: var(--black_primary);
}


@media (prefers-color-scheme: dark) {

    /* Dark mode colors */
    body {
        background-color: var(--black_primary);
        color: var(--white_primary);
    }
}

/*
*   HEADER
*/

.title {
    font-family: "Recoleta", "serif";
}

#menu-button {
    display: flex;
    flex-direction: column;
    gap: 3.5px;
    width: 2.5rem;
    height: 2.5rem;
    align-items: flex-end;
    justify-content: center;
}

#menu-button span {
    width: 25px;
    height: 2.5px;
    border-radius: 2px;
    background-color: var(--black_primary);
    transition: width .3s ease-in-out, transform .3s ease-in-out, opacity .3s ease-in-out;
}

#menu-button span:nth-child(2) {
    width: 15px;
}

#menu-button:hover span:nth-child(2) {
    width: 25px;
}

/* Toggle Menu Animation */
#menu-button.open span:nth-child(1) {
    transform: translate3d(0, 6px, 0) rotate(45deg);
}

#menu-button.open span:nth-child(2) {
    opacity: 0;
}

#menu-button.open span:nth-child(3) {
    transform: translate3d(0, -6px, 0) rotate(-45deg);
}

/* Nav */

.nav-arrow {
    width: 20px;
    height: 20px;
    position: relative;
}

.nav-arrow span {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    background-color: var(--white_primary);
}

.nav-arrow span:nth-child(1) {
    width: 16px;
    height: 1px;
}

.nav-arrow span:nth-child(2) {
    height: 16px;
    width: 1px;
}

.nav-arrow span:nth-child(3) {
    height: 32px;
    width: 1px;
    transform: translate(-12px, -4px) rotate(45deg);
}


.nav-arrow span:nth-child(2) {
    height: 16px;
    width: 1px;
}

.nav-arrow span:nth-child(3) {
    height: 32px;
    width: 1px;
}


.nav-link .nav-link-space {
    width: 0;
    transition: width .4s ease-in-out;
}

.nav-link:hover .nav-link-space {
width: 100%;
}

.nav-arrow span{
    transition: transform 0.4s ease-in-out
}

.nav-link:hover .nav-arrow span:nth-child(1){
    transform: rotate(45deg);
}

.nav-link:hover .nav-arrow span:nth-child(2){
    transform: rotate(45deg) translate(-3px, 9px);
}

.nav-link:hover .nav-arrow span:nth-child(3){

transform: rotate(90deg) translate(-10px, 19px);
}

@media (prefers-color-scheme: dark) {

    /* Dark mode colors */
    #menu-button span {
        background-color: var(--white_primary);
    }
}