#root {
  margin: 0 auto;
  max-width: 1280px;
}


body {
  /* Default light mode background color */
  background-color: white;
}

@media (prefers-color-scheme: dark) {
  /* Dark mode background color */
  body {
    background-color: #161513;
  }
}

.text-gradient {
  background: linear-gradient(90deg, #B16CEA , #FF5E69 , #FF8A56 , #FFA84B );
  -webkit-background-clip: text; /* For Webkit-based browsers */
  background-clip: text;
  color: transparent; /* Hide the original text color */
  display: inline-block;
}

.gradient {
  background: linear-gradient(90deg, #B16CEA, #FF5E69 , #FF8A56 , #FFA84B );
}

.project-background {
  background: linear-gradient(90deg, #B16CEA95 , #FF5E6995 , #FF8A5695 , #FFA84B95 );
}